body {
  margin: 60px;
  color: rgba(255, 255, 255, 0.8);
}

ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  width: 800px;
}

.card-outside {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  box-shadow: 20px 10px 20px rgba(72, 72, 72, 0.3);
  padding: 7px;
}

.outside-body {
  padding: 0;
}

.card-inside {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border: 2px solid rgba(110, 110, 110, 0.2);
}
