.input-form {
  margin-left: 20px;
}

.form-control {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.form-control:focus {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  outline: 0;
  box-shadow: none;
}

.input-group {
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.input-group-text {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 11px;
}

.search-icon {
  color: rgba(255, 255, 255, 0.4);
}

.col-6 {
  padding-right: 1px;
}

.button-column {
  margin-top: 16.25px;
}

.btn {
  background-color: rgba(69, 67, 67, 0.25);
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: #f6f6f6d3;
}

.btn:hover {
  background-color: rgba(69, 67, 67, 0.35);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  color: #f6f6f6d3;
}

.search-button {
  margin-right: 10px;
}

.search-button,
.search-location-button {
  color: rgba(255, 255, 255, 0.75);
  padding: 6.5px 25px;
}
